[Unit]
Description=run VAD
After=default.target

[Service]
Type=simple
Restart=always
WorkingDirectory=/home/pi/telephone
ExecStart=/home/pi/telephone/.venv/bin/python /home/pi/telephone/_silero_vad.py
StandardOutput=journal
StandardError=journal
Environment="PATH=/home/pi/telephone/.venv/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"

[Install]
WantedBy=default.target
